<%= csrf_meta_tag %> 



<div class="row">
	<div class="menu">

           <%= link_to "", root_path, class: "fa fa-chevron-left", style: "font-size: 30px; color:white;" %>
            <div class="name">Welcome to my general chat: Ask me anything!</div>
	</div>
	<div data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>'>
		    <% @messages.each do |message| %>
				<%= render message %>
			<% end %>
	</div>
	</div>
	<br>
	<div class="col-md-12">

		<div class="panel panel-default">
			
			<div class="panel-body">

						<%= form_for [@chatroom, Message.new] do |f| %>
  							<%= f.text_field :body, rows: 1, class: "form-control", autofocus: true %>
						<% end %>
				

			</div>
		</div>
	</div>
</div>


