
<div class="jumbotron text-center">
	<h1><b><%= @user.email %></b></h1>
</div>
<div class="panel panel-default">
	<div class="panel-body">
		<%= image_tag @user.profile_image unless @user.profile_image.nil? %>
		<h3 class="text-uppercase">About Me </h3>
		<hr/>
		<p><%= @user.about %></p>
	</div>
</div>


<h3 class="text-uppercase" style="margin-top:50px;">
	<b><%= current_user.first_name if current_user %></b>
</h3>
<div class="row">
	<%= render 'gigs/gig_items'%>
</div>


<!-- MY GIG LST -->

 <h1 style="margin-bottom: 30px; text-align: center;">My Gigs</h1>
<div class="panel panel-default">
	<table class="table tabl-bordered table-striped">
		<thead>
			<tr>
				<th>Gig Title</th>
				<th>Price ($)</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
<!-- 			Loop through every single gig created by user
 -->			<%= render 'gig_table' %>
		</tbody>
	</table>
</div>

<!-- END OF MY GIG LST -->
