
      <% if current_user.is_a?(User) %>
        <%= form_tag checkout_path do %>
            <div id="payment-form"></div>
             <input type="hidden" id="amount" name="amount" type="tel" value="<%= @gig_item.price %>">
            
            <button class="btn-success btn-block" type="submit">Order  $<%= @gig_item.price %></button>


        <% end %>
      <% end %>


            <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
          <script>
              var clientToken = "<%= @client_token %>";
              braintree.setup(clientToken, "dropin", {
                container: "payment-form",
                paypal: {
                  singleUse: true,
                  amount: "<%= @gig_item.price %>",
                  currency: 'USD',
                  locale: 'en_us'
                },
                dataCollector: {
                  paypal: true  // Enables fraud prevention
                }
              });
          </script>


