<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<%= image_tag 'logo.png', height: 50 %>
			</div>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Busca un servicio.." />
				</div>
		</form>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<!--ADD AUTHENTICATION FOR LOGIN  -->	

			</li>
		</ul>
		</div>
	</div>
	<div id="category">
		<div class="container">
		<ul class=" nav navbar-nav">
			<li><%= link_to "Diseno Grafico", root_path %></li>
			<li><%= link_to "Mercadeo Digital" %></li>
			<li><%= link_to "Video/Animacion"%></li>
			<li><%= link_to "Musica & Audio"%></li>
			<li><%= link_to "Programacion & Tech"%></li>
		</ul>
		</div>
	</div>
</nav>
