<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<%= link_to (image_tag 'logo.png', style: "height: 50px;"), root_path %>
			</div>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Busca un servicio.." />
				</div>
		 </form>
		
		<div style="text-align: right; color: white;">
			<ul class="dropdown">
			 	 <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white;">

					<% if current_user.is_a?(User) %>		
					<%= image_tag avatar_url(current_user), class: "img-circle", style: "width:40px" %>&nbsp;
		            <%= current_user.name %> <span class="caret"></span>
	             <ul class="dropdown-menu profile-links">
	             <li><%= link_to "Home", root_path %></li>
				 <li><%= link_to "Your Gigs", your_gigs_profile_path %></li>
	              <li><%= link_to "Profile", edit_user_registration_path %></li>
	              <li><%= link_to "Orders", root_path %></li>
	              
	            </ul>
	             </a>
	            

					<% end %>
				<%= login_helper %>
			</ul>
			
		</div>
	
		</div>
	</div>
	<div id="category">
		<div class="container">
		<ul class=" nav navbar-nav">
			<li><a href="http://localhost:5000/categories/1">Graphic Design</a> </li>
			<li><a href="http://localhost:5000/categories/2">Writing & Blogs</a> </li>
			<li><a href="http://localhost:5000/categories/3">Video/Animation</a> </li>
			<li><a href="http://localhost:5000/categories/1">Music & Audio</a> </li>
		</ul>
		</div>
	</div>
</nav>
<div id="App-banner"> 
        <%= javascript_pack_tag 'app_banner'%>
 </div>
