<!DOCTYPE html>
<html>
  <head>
    <title>MitiendaApp</title>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
       
       <!--  <nav class="navbar navbar-default navbar-fixed-top react-nav">
          <%#= javascript_pack_tag 'navbar_react'%>
        </nav> -->
        
      

        
      
    <%= yield %>
    
      
    
      <div id="react-footer">
          <%#= javascript_pack_tag 'footer_react'%>
      </div>
      <%= render 'shared/footer'%>

  </body>
</html>
