<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mi Tienda </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'gigs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

  </head>

  <body>
    <!--ADD AUTHENTICATION FOR LOGIN  --> 
     <!-- <nav class="navbar navbar-default navbar-fixed-top react-nav">
            <%#= javascript_pack_tag 'navbar_react'%>
     </nav> --> 

     <!-- <div class="application"> 
        <%= javascript_pack_tag 'application'%>
     </div> -->
  
     
     
     <%= render 'shared/navbar' %>
     
      
   <%= yield %>
   
      
      
    <div class="col-md-12">
      <%= render 'shared/footer' %>
   </div>
  </body>
</html>